<article class="movie-item">
    <div class="image-container">
        <img src="<%= movie.imageUrl %>" alt="<%= movie.title %>">
    </div>
    <div class="movie-item-content">
        <h2>
            <%= movie.title %>
        </h2>
        <div class="movie-item-actions">
            <a class="btn" href="/admin/movies/<%= movie.id %>">View & Edit</a>
            <button class="btn btn-alt">Delete</button>
        </div>
    </div>
</article>