<!-- inlcuding the shared code head -->
<%- include('../customer/includes/head', { pageTitle: 'Cine Distrito' }) %>
<link rel="stylesheet" href="/styles/products.css">
    </head>

    <body>
        <%- include('../customer/includes/header') %>
        <%- include('../customer/includes/blob') %>
        <div id="title-container">
            <h1 data-value="CINE DISTRITO">CINE DISTRITO</h1>
        </div>
        <main>
        </main>
        <%- include('../customer/includes/footer') %>