<!-- inlcuding the shared code head -->
<%- include('../shared/includes/head', { pageTitle: 'Cine Distrito' }) %>
    <link rel="stylesheet" href="/styles/cineDistrito.css">
    <script src="/scripts/effects/glassmorphism.js" defer></script>
    </head>

    <body>
        <%- include('../shared/includes/header') %>
            <%- include('../shared/includes/blob') %>
                <main>
                    <section id="movies-section">
                        <h2>Movies</h2>
                    </section>
                    <section id="snacks-section">
                        <h2>Snacks</h2>
                    </section>
                </main>
                <%- include('../shared/includes/footer') %>