<!-- inlcuding the shared code head -->
<%- include('../includes/head', { pageTitle: 'An Error Ocurred' }) %>
    </head>

    <body>
        <%- include('../includes/header') %>
            <main>
                <h1>403 - Not authorized!</h1>
                <p>You are not authorized.</p>
                <p><a href="/" class="btn">Back to safety!</a></p>
            </main>
            <%- include('../includes/footer') %>