<%- include('../../shared/includes/head', { pageTitle: 'Admin All Orders - Cine Distrito' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
    <%- // include('../shared/includes/blob') %>
    <%- include('../../shared/includes/header') %>
    <main>
        <%- include('../../shared/includes/order-list') %>
    </main>
</body>