body {
    background-color: var(--color-gray-700);
    color: var(--color-gray-50);
}

main h1 {
    color: var(--color-gray-50);
}

#blob {
    background: linear-gradient(to right, var(--color-secundary-800), var(--color-primary-800));
}

#about-us-info #info p span {
    color: var(--color-secundary-200);
}