footer {
    background-color: var(--color-gray-700);
    padding: 2rem;
    width: 100%;
}

footer #logo a {
    color: var(--color-secundary-400);
}

footer #logo a:hover {
    color: var(--color-gray-50);
    -webkit-text-stroke: 1px var(--color-secundary-800);
}

footer .row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer #links{
    margin-bottom: 1rem;
}

footer #links ul li {
    text-align: center;
    margin: 0.75rem;
}

footer #links ul li a {
    transition: 200ms;
}

footer #links ul li button {
    cursor: pointer;
    font: inherit;
    border: 2px solid var(--color-gray-50);
    padding: var(--space-1) var(--space-4);
    background-color: transparent;
    color: var(--color-gray-50);
    border-radius: 30px;
    font-size: 1rem;
    transition: 250ms;
}

footer #links ul li button:hover {
    background-color: var(--color-primary-300);
}

footer #links ul li:hover a {
    color: var(--color-secundary-200);
}

footer #social-media {
    margin: 0.75rem;
}

footer #social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer #social-media ul li {
    margin: 0 1rem;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.5;
    transition: 300ms;
}

footer #social-media ul li:hover {
    opacity: 1;
}

footer #social-media ul li a svg {
    background-color: transparent;
    width: 100%;
}

footer #creator {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

footer #easter-egg {
    text-align: center;
    margin: 0;
    color: var(--color-gray-50);
}


@media (min-width: 48rem) {

    footer .row-container {
        flex-direction: row;
    }

}