label {
    color: var(--color-gray-800);
    display: block;
    margin-bottom: var(--space-2);
    font-weight: bold;
}

input,
textarea {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
    border: 1px solid var(--color-primary-700);
    width: 90%;
    background-color: var(--color-gray-50);
    /* backdrop-filter: var(--backdrop-filter-5); */
    color: var(--color-gray-800);

}

span {
    color: var(--color-error-500);
}