#add-item-section {
    display: flex;
    justify-content: right;
    margin: 0 1rem;
}

#movies-grid {
    margin: var(--space-8) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2rem;
}

.movie-item {
    transition: 500ms;
    z-index: 0;
}

.movie-item a {
    color: var(--color-gray-700);
}

#play-btn {
    height: 3rem;
    width: 3rem;
    position: relative;
    /* position: unset; */
    background-color: var(--color-primary-400);
    border-radius: 50%;
    top: 3%;
    left: 78%;
    z-index: 3;
    transition: 300ms;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-btn svg {
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
}

.image-container {
    border-radius: var(--border-radius-large);
    height: 26rem;
    width: 17rem;
    overflow: hidden;
    margin: 0 auto;
}

.image-container.add {
    border: solid 3px var(--color-gray-700);
}

.movie-item:hover img,
.movie-item:hover svg {
    scale: 1.05;
}

.movie-item:hover #play-btn {
    scale: 0.90;
    /* background-color: var(--color-gray-700); */
    background-color: var(--color-primary-600);
}

.movie-item:hover h2 {
    text-decoration: underline;
}

.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

.movie-item img#client-view {
    position: relative;
    bottom: 3rem;
}

.movie-item-content {
    padding: var(--space-2);
}

.movie-item-content h2 {
    font-size: 1.5rem;
    margin: 0;
    transition: 500ms;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movie-item-actions {
    display: flex;
    justify-content: center;
    margin-top: var(--space-4);
    justify-content: center;
}

.btn {
    font-size: 1.25rem;
    margin: 0 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--color-secundary-300);
    transition: 500ms;
    border-color: var(--color-gray-700);
}

.btn:hover {
    background-color: var(--color-secundary-800);
    color: var(--color-gray-50);
}

.btn-alt {
    background-color: rgb(208, 96, 96);
    border-color: var(--color-gray-700);
    color: var(--color-gray-700);
}

.btn-alt:hover {
    background-color: rgb(255, 0, 0);
    transition: 500ms;
    border-color: var(--color-gray-50);
}

svg {
    align-self: center;
    background-color: var(--color-secundary-100);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

#movie-details {
    margin-top: 10rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#movie-info span {
    font-weight: bold;
}

#movie-info p {
    font-size: 1.1rem;
}

#movie-details #image-container {
    width: 17.25rem;
    height: 25.5rem;
    overflow: hidden;
    margin: 0 auto;
    border-radius: var(--border-radius-large);
}

#movie-details #image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}

#movie-details:hover #image-container img {
    scale: 1.05;
}

#movie-details #movie-info {
    text-align: justify;
}

#movie-details #movie-info h1 {
    text-align: left;
    height: fit-content;
    margin: 0;
    font-size: 3rem;
}

#movie-details #movie-little-details {
    margin: 0;
}

#movie-details #movie-little-details {
    width: 100%;
}

#movie-details #movie-little-details span {
    font-weight: bold;
}

#movie-details #movie-info {
    width: 100%;

}

#movie-details select {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: 2px solid var(--color-gray-700);
    width: 100%;
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
    margin: 0 auto;
}

#movie-details label {
    font-weight: bold;
}

#movie-details #theater {
    display: none;
}

#movie-details #showtime {
    display: none;
}

#action {
    display: flex;
    justify-content: flex-end;
    display: none;

}

@media (min-width: 48rem) {
    #movie-details {
        display: flex;
        flex-wrap: nowrap;
    }

    #movie-details #movie-little-details {
        width: 30%;
    }
}