#change-password-inputs-container{
    display: none;
}

#delete-account-inputs-container{
    display: none;
}

h3 {
    margin: 0;
}

.option-item {
    width: 100%;
}

.option-item p{
    text-align: left;
}

hr {
    margin-top: 2rem;
    border: 1px solid var(--color-gray-700);
}

#more-employee-info span {
    color: var(--color-gray-700);
    font-weight: bold;
}

#more-employee-info p{
    text-align: left;
}

#container-delete-account-form {
    background-color: rgba(206, 65, 65, 0.288);
}

#container-delete-account-form {
    border: 2px solid rgb(86, 10, 10);
}

#container-delete-account-form h3, 
#container-delete-account-form p {
    color: rgb(63, 1, 1);
}