* {
    /* make sure the width of all elementes is exactly what we set it */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

    /* css variables */
    --color-gray-0: rgb(243, 243, 243);
    --color-gray-50: rgb(220, 220, 220);
    --color-gray-100: rgb(180, 180, 180);
    --color-gray-200: rgb(140, 140, 140);
    --color-gray-300: rgb(110, 110, 110);
    --color-gray-400: rgb(90, 95, 90);
    --color-gray-500: rgb(74, 74, 74);
    --color-gray-600: rgb(54, 54, 54);
    --color-gray-700: rgb(33, 33, 33);
    --color-gray-800: rgb(17, 17, 17);

    --color-primary-50: rgb(240, 149, 149);
    --color-primary-100: rgb(221, 122, 122);
    --color-primary-200: rgb(208, 90, 90);
    --color-primary-300: rgb(204, 55, 55);
    --color-primary-400: rgb(185, 36, 36);
    --color-primary-500: rgb(154, 13, 13);
    --color-primary-600: rgb(117, 9, 9);
    --color-primary-700: rgb(84, 6, 6);
    --color-primary-800: rgb(68, 5, 5);
    --color-primary-900: rgb(43, 3, 3);

    --color-secundary-100: rgb(192, 166, 231);
    --color-secundary-200: rgb(162, 133, 206);
    --color-secundary-300: rgb(125, 101, 161);
    --color-secundary-400: rgb(92, 68, 128);
    --color-secundary-600: rgb(58, 39, 87);
    --color-secundary-800: rgb(38, 24, 58);

    --color-tertiary-200: rgb(246, 226, 180);
    --color-tertiary-400: rgb(244, 214, 143);
    --color-tertiary-600: rgb(223, 181, 83);

    --color-primary-blur-200: rgba(210, 188, 254, 0.5);

    --color-error-100: rgb(255, 192, 180);
    --color-error-500: rgb(199, 51, 15);

    --color-primary-500-bg: rgb(63, 60, 58);

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;

    --border-radius-small: 4px;
    --border-radius-medium: 6px;
    --border-radius-large: 8px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);

    --backdrop-filter-0: blur(1vmax);
    --backdrop-filter-1: blur(2.5vmax);
    --backdrop-filter-2: blur(5vmax);
    --backdrop-filter-3: blur(7.5vmax);
    --backdrop-filter-4: blur(10vmax);
    --backdrop-filter-5: blur(12.5vmax);
    --backdrop-filter-15: blur(37.5vmax);
}

body {
    /* background-color: var(--color-gray-700); */
    background-color: var(--color-gray-50);
    color: var(--color-gray-700);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 14px;
    background-color: var(--color-gray-700);
    transition: 1000ms;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-400);
    border-radius: 10px;
}

/* THE BLOB */

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    0% {
        scale: 0.8 0.8;
    }

    25% {
        scale: 0.6 0.8;
    }

    50% {
        scale: 0.8 0.6;
    }

    75% {
        scale: 1 1;
    }

    100% {
        scale: 0.8 0.8;
    }

    to {
        rotate: 360deg;
    }
}

#blob-container {
    top: 5.5rem;
    height: calc(100% - 5.5rem);
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -4;
}

#blob {
    background-color: black;
    height: 35vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: calc(-50% + 2.0rem) calc(-50% - 2.0rem);
    border-radius: 50%;
    background: linear-gradient(to right, var(--color-secundary-100), var(--color-primary-100));
    animation: rotate 12s infinite;
    opacity: 0.8;
    z-index: -3;
    box-sizing: border-box;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
    backdrop-filter: var(--backdrop-filter-1);
}

/* THE END OF THE BLOB */

/* SLIDER SECTION */


.side {
    margin-top: 5.5rem;
    display: grid;
    height: 30rem;
    overflow: hidden;
    place-items: center;
    width: 100%;
}

.side#left-side {
    position: absolute;
    top: 0;
    
}

.side .title {
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
}

.side .fancy {
    font-size: 5rem;
    line-height: 0.8em;
    padding: 0 1rem;
}

#left-side {
    display: none;
    background-color: var(--color-secundary-200);
    width: 60%;
    z-index: 2;
}

#left-side .title {
    color: rgb(20, 20, 20);
}

#left-side .fancy {
    color: var(--color-primary-300);
    -webkit-text-stroke: 3px var(--color-gray-50);
}

#right-side {
    background-color: var(--color-primary-300);
}

#right-side .title {
    color: white;
}

#right-side .fancy {
    color: var(--color-secundary-200);
    -webkit-text-stroke: 3px var(--color-gray-700);
}


/* THE END OF SLIDER SECTION */

/* TOASTY EASTER EGG */

#toasty {
    position: fixed;
    width: 10rem;
    height: 10rem;
    top: calc(100vh - 10rem);
    left: 100%;
    z-index: 100;
    transition: 400ms ease;
}

#toasty.activated {
    left: calc(100% - 10rem);
}

#toasty img {
    width: 100%;
    height: 100%;
}


/* THE END OF TOASTY EASTER EGG */

main {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-gray-700);
    text-align: center;
    margin: var(--space-4);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0rem;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-container {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: var(--color-gray-50);
}

.btn {
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-primary-400);
    color: var(--color-gray-50);
    border: 2px solid var(--color-gray-50);
    border-radius: 20px;
    margin: var(--space-4) var(--space-2);
    font-weight: bold;
    transition: 300ms;
}

.btn:hover,
.btn:active {
    background-color: var(--color-secundary-300);
    border-color: var(---color-gray-700);
    color: var(--color-gray-700);
}

.btn-alt {
    background-color: var(--color-gray-600);
    color: var(--color-gray-50);
    border-color: var(--color-gray-50);
    transition: 300ms;
}

.btn-alt:hover,
.btn-alt:active {
    background-color: var(--color-primary-700);
    color: var(--color-gray-50);
    border-color: var(--color-gray-700);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color: var(--color-error-500);
    padding: var(--space-4);
    text-align: center;
    width: 30rem;
    margin: 0 auto;
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}

#about-us-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#about-us-info div div {
    margin: 2rem;
}

#about-us-info #logo h2 {
    font-weight: bold;
    font-size: 25rem;
    transition: 550ms;
    margin: 0;
    height: 15rem;
    color: var(--color-primary-400);
    -webkit-text-stroke: 4px var(--color-gray-50);
    display: flex;
    align-items: center;
}

#about-us-info:hover #logo h2 {
    color: var(--color-gray-50);
    -webkit-text-stroke: 4px var(--color-primary-400);
}

#about-us-info #info p {
    text-align: justify;
    font-size: 1.25rem;
    margin: 0;
}

#about-us-info #info p span {
    font-weight: bold;
    color: var(--color-secundary-600);
}

@media (min-width: 48rem) {

    #left-side {
        display: grid;
    }

    h1 {
        font-size: 4rem;
        font-weight: 500;
    }

    h2 {
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
    }

    #about-us-info div {
        flex-direction: row;
    }

    #about-us-info #logo h2 {
        font-size: 32rem;
        height: 25rem;
    }
}