#table {
    margin: var(--space-8) auto;
    width: 100%;
    z-index: 0;
    background-color: rgba(100, 100, 100, 0.3);
    backdrop-filter: blur(var(--backdrop-filter-0));
    border-radius: var(--border-radius-large);
    border: 2px solid var(--color-gray-700);
    padding: 1rem;
}

#table tbody tr td{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-item .btn {
    font-size: 0.7rem;
    margin: 0 0.05rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-secundary-300);
    transition: 500ms;
    border-color: var(--color-gray-700);
    color: var(--color-gray-700);
}

.table-item .btn:hover {
    background-color: var(--color-secundary-800);
    color: var(--color-gray-50);
}

.table-item .btn-alt {
    background-color: rgb(208, 96, 96);
    border-color: var(--color-gray-700);
    color: var(--color-gray-700);
}

.table-item .btn-alt:hover {
    background-color: rgb(255, 0, 0);
    transition: 500ms;
    border-color: var(--color-gray-50);
}