<!-- inlcuding the shared code head -->
<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
</head>

<body>
<%- include('../../shared/includes/header') %>
<main>
    <h1>Order was successful!</h1>
    <p>You can visit the orders page for more details!</p>
    <a class="btn" href="/client/orders">Go to the Orders Page</a>
</main>
<%- include('../../shared/includes/footer') %>
